# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
frontend/node_modules

# production
build

# No need of some garbages
.session.sql
.env

#graphql
query.graphql
